@model IEnumerable<Orders>

@{
    ViewData["Title"] = "Index";
}
<script src="~/js/site.js"></script>
<body>
    <h3>Заказы</h3>
    <div>
        <table class="tableBut">
            <tr>
                <th>
                    <input class="inputOrderNotEnd" type="button" value="В обработке" onclick="ButtClickOrdersNotEnd()" />
                </th>
                <th>
                    <input class="inputOrderEnd" type="button" value="Выполненные заказы" onclick="ButtClickOrdersEnd()" />

                </th>
            </tr>
        </table>
        <table class="table informationOrdersNotEnd">
            <tr>
                <th>
                    Номер заказа
                </th>
                <th>
                    Заказчик
                </th>
                <th>
                    Город назначения
                </th>
            </tr>
            @foreach(var order in Model.Where(p => p.IsComplete == false)) 
            { 
            <tr>
                <td rowspan="2">
                    @order.Id
                </td>
                <td>
                    @order.Costumer.CostumerName
                </td>
                <td>
                    @order.DepartureCityNavigation.CityName
                </td>
            </tr>
            <tr>
                <td colspan="2">@Html.ActionLink("Полная информация...", "Info", new { id = order.Id }, null)</td>
            </tr>
            }
        </table>
        <table class="table informationOrdersEnd">
            <tr>
                <th>
                    Номер заказа
                </th>
                <th>
                    Заказчик
                </th>
                <th>
                    Город назначения
                </th>
            </tr>
            @foreach (var order in Model.Where(p => p.IsComplete == true))
            {
                <tr>
                    <td rowspan="2">
                        @order.Id
                    </td>
                    <td>
                         @order.Costumer.CostumerName
                    </td>
                    <td>
                        @order.DepartureCityNavigation.CityName
                    </td>
                </tr>
                <tr>
                    <td colspan="2">@Html.ActionLink("Полная информация...", "InfoEnd", new { id = order.Id }, null)</td>
                </tr>
            }
        </table>
    </div>
</body>