@model BelexpLogistikWebApp.Orders
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div asp-validation-summary="All"></div>
<h2>Заказ №@Model.Id</h2>
<div>
    <table class="table">
        <tr>
            <th>Заказчик:</th>
            @*<td>@Html.DisplayFor(model => model.User.FirstName)</td>*@
        </tr>
        <tr>
            <th>Город назначения:</th>
            <td>@Html.DisplayFor(model => model.DepartureCity)</td>
        </tr>
        <tr>
            <th rowspan="2">Груз:</th>
            <td>@Html.DisplayFor(model => model.GoodsName)</td>
        </tr>
        <tr>
            <td>Вес груза: @Html.DisplayFor(model => model.GoodsWeight)  тонны</td>
        </tr>
        <tr>
            <th>Пожелания к заказу:</th>
            <td>
                @Html.DisplayFor(model => model.OtherInfo)
            </td>
        </tr>

    </table>
</div>
<div class="orderHiddenButt2">
    @*<button type="submit" class="btn btn-primary"> Просмотреть накладную</button>*@
    <button type="submit" class="btn btn-primary"> Просмотреть путевой лист</button>
</div>