@model BelexpLogistikWebApp.Orders
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div asp-validation-summary="All"></div>
    <h2>Заказ №@Model.Id</h2>
    <div>
        <table class="table">
            <tr>
                <th>Заказчик:</th>
                <td>@Html.DisplayFor(model => model.CostumerName)</td>
            </tr>
            <tr>
                <th>Город назначения:</th>
                <td>@Html.DisplayFor(model => model.DepartureCity)</td>
            </tr>
            <tr>
                <th rowspan="2">Груз:</th>
                <td>@Html.DisplayFor(model => model.GoodsName)</td>
            </tr>
            <tr>
                <td>Вес груза:@Html.DisplayFor(model => model.GoodsWeight)  тонн</td>
            </tr>
            <tr>
                <th>Пожелания к заказу:</th>
                <td>
                    @Html.DisplayFor(model => model.OtherInfo)
                </td>
            </tr>

        </table>
    </div>
    <div class="orderHiddenButt">
        <button type="submit" onclick='location.href="../../Waybill/CreateList"' class="btn btn-primary">Создать путевой лист</button>
        <a class="btn btn-sm btn-primary" asp-action="EditOrder" asp-route-id="@Model.Id">Изменить информацию о заказе</a>
    </div>