@model IEnumerable<Drivers>


@{
    ViewData["Title"] = "Drivers";
}

<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="~/css/adminmainpage.css" rel="stylesheet" type="text/css">
<link href="~/css/site.css" rel="stylesheet" type="text/css">
<script src="~/js/site.js"></script>
<body>
    <div>
        <h3>Список водителей</h3>
        <table class="table tableDr">
            @*@foreach (var drive in Model)*@
            <tr>
                <th>
                    ФИО
                </th>
                <th>
                    Номер прав
                </th>
            </tr>
            @foreach (var drive in Model)
            {
                <tr>
                    <td>
                        @drive.DriverName @drive.DriverSurname @drive.DriverPatronymic
                    </td>
                    <td>
                        @drive.DriverCardId
                    </td>
                </tr>
            }
        </table>
        <table class="table visibleHidDrivers">
            @foreach (var drive in Model)
            {
                <tr>
                    <td>
                        @drive.DriverName @drive.DriverSurname @drive.DriverPatronymic
                    </td>
                    <td>
                        @drive.DriverCardId
                    </td>
                </tr>
            }
        </table>
        <input type="button" class="aPositionLeft" onclick="ViewAllDrivers()" value="Показать всех" />
        <input type="button" class="aPositionRight" onclick="ViewNotAllDrivers()" value="Свернуть" />

    </div>
    <div class="freeDriversDiv">
        <h3>Свободные водители</h3>
        <table class="table tableDrive">
            <tr>
                <th>
                    ФИО
                </th>
                <th>
                    Номер прав
                </th>
            </tr>
            @foreach (var drive in Model)
             {
                <tr>
                    <td>
                        Иванов Иван Иванович
                    </td>
                    <td>
                        87654967
                    </td>
                </tr>
             }
            </table>
        <table class="table visibleHidDrivers2">
            <tr>
                <td>
                    Иванов Иван Иванович
                </td>
                <td>
                    87654967
                </td>
            </tr>
        </table>
        <input type="button" class="aPositionLeft2" onclick="ViewAllDrivers2()" value="Показать всех" />
        <input type="button" class="aPositionRight2" onclick="ViewNotAllDrivers2()" value="Свернуть" />

    </div>
</body>
